@charset "UTF-8";

/* 欢迎使用connect UI */
/* https://github.com/KAILUENG/connect-UI */

@font-face {
  font-family: 'OUR-FONT-ICON';
  src:
    url('fonts/OUR-FONT-ICON.ttf?nd57hh') format('truetype'),
    url('fonts/OUR-FONT-ICON.woff?nd57hh') format('woff'),
    url('fonts/OUR-FONT-ICON.svg?nd57hh#OUR-FONT-ICON') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="OFI-"], [class*=" OFI-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'OUR-FONT-ICON' !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (prefers-color-scheme: dark) {
  body {
      background-color: #212121;
  }
  .cui-tab{
    background-color: rgba(0, 0, 0, 0.692) !important;
    color: rgb(228, 228, 228);
  }
  .cui-title-on-tab:hover{
    background-color: rgba(255, 255, 255, 0.062) !important;
  }
  .cui-pop-up-prompt{
    background-color: #FFB217 !important;
  }
  h1{
    color: rgb(228, 228, 228);
  }
  h2{
    color: rgb(228, 228, 228);
  }
  p{
    color: rgb(228, 228, 228);
  }
  .cui-button{
    color: rgb(228, 228, 228) !important;
  }
  .cui-dropmenu{
    border-color: #fcfcfc;
    background-color: rgba(206, 206, 206, 0.13) !important;
    color: rgb(255, 255, 255) !important;
    border-color: rgba(255, 255, 255, 0.555) !important;
  }
  .cui-dropmenu-content{
    background-color: rgba(206, 206, 206, 0.13) !important;
  }
  a{
    color: rgb(255, 255, 255) !important;
  }
  .dropmenu-content{
    background-color: rgb(56, 56, 56) !important;
  }
  .dropmenu{
    color: rgb(255, 255, 255) !important;
  }
  .cui-input{
    background-color: rgba(206, 206, 206, 0.13) !important;
  }
  .cui-input-color{
    background-color: rgba(206, 206, 206, 0.13) !important;
  }
  .cui-checkbox label {
    color: rgb(255, 255, 255) !important;
  }
  .cui-our-font{
    color: rgb(255, 255, 255) !important;
  }
  img{
    filter: brightness(.8);
  }
  .cui-label-input{
    color: rgb(228, 228, 228);
  }
  .cui-info-card{
    color: rgb(228, 228, 228);
    background-color: rgb(56, 56, 56) !important;
  }
  .cui-sidebar{
    background-color: rgb(56, 56, 56) !important;
  }
  .cui-radio-group{
    color: rgb(228, 228, 228);
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
      transition: all 0s!important;
      transform: none!important;
  }
}

body {
  padding: 40px;
  margin: 0px;
  border-width: 0px;
}

.cui-if-use-tab {
  margin-top: 100px;
}
.cui-if-use-tab-and-sidebar {
  margin-top: 100px;
  padding-left: 28vh;
}

h1 {
  font-size: 60px;
  margin: 0px;
  font-weight: bolder;
}

h2 {
  font-size: 40px;
  font-weight: bolder;
  margin: 0px;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 40px !important;
  }

  h2 {
    font-size: 28px !important;
  }
}
/* 用于顶栏 */
.cui-tab {
  -webkit-backdrop-filter: blur(22px);
  backdrop-filter: blur(22px);
  background-color: rgb(255 255 255 / 85%);
  z-index: 1000;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  float: right;
  transition-duration: 0.4s;
  border-bottom: 1px;
  border-color: black;
}

.cui-LOGO-on-tab {
  /* 用于文字LOGO，若要使用SVG的LOGO，请使用.cui-logosvg-on-tab */
  float: left;
  margin: 10px;
}

.cui-title-on-tab {
  float: left;
  cursor: pointer;
  margin-right: 20px;
  padding: 10px;
  border-radius: 16px;
  transition-timing-function: cubic-bezier(1, 0, 0.17, 1);
  transition: 0.4s;
  float: right;
}
.cui-title-on-tab:hover {
  background-color: #f9f8f89d;
  transition-timing-function: cubic-bezier(1, 0, 0.17, 1);
  transition: 0.4s;
}

@media only screen and (max-width: 846px) {
  .cui-title-on-tab {
    display: none;
  }

  .cui-mobie-tab {
    display: block;
  }
}
/* 用于移动端tab栏的弹出菜单 */
.dropmenu {
  display: none;
  background-color: #ffffff00;
  color: black;
  padding: 10px;
  font-size: 28px;
  border: none;
}

@media only screen and (max-width: 846px) {
  .dropmenu {
    display: block;
  }
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #ffffff;
}

.dropdown {
  float: right;
}

.dropmenu {
  float: right;
  position: relative;
}
.dropmenu a:hover {
  background-color: #f1f1f1;
}

.dropmenu-content {
  visibility: hidden;
  opacity: 0;
  transform: scale(1, 0.8);
  max-height: 0;
  position: absolute;
  background-color: #ffffff;
  border-radius: 16px;
  min-width: 340px;
  overflow: auto;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.07);
  right: 0;
  z-index: 1;
  margin-right: 10px;
  margin-top: 50px;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.6, 0.02, 0, 1.01);
}

a {
  color: black;
  padding: 12px 16px;
  border-radius: 16px;
  text-decoration: none;
  display: block;
  margin: 10px;
  transition-duration: 240ms;
}
a:hover {
  background-color: rgba(202, 202, 202, 0.158);
}

.show {
  visibility: visible;
  opacity: 1;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.6, 0.02, 0, 1.01);
  max-height: 666px;
  transform: none;
}

/* 按钮 */

.cui-button {
  padding: 10px;
  background-color: #5395FD;
  border-radius: 16px;
  border: 0px;
  cursor: pointer;
  transition-duration: 0.4s;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  transition-timing-function: cubic-bezier(1, -0.01, 0, 1.01);
}
.cui-button:hover {
  transition-duration: 0.4s;
  box-shadow: 0 8px 43px 0 rgba(0, 0, 0, 0.13);
  transform: scale(1.01, 1.01);
}
.cui-button:active {
  transform: none;
  transition: 250ms;
}

@media only screen and (max-width: 846px) {
  .cui-button {
    width: 100%;
  }
}
/*用于下拉菜单*/
.cui-dropmenu {
  background-color: white;
  color: black;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.07);
  font-weight: bold;
  border-radius: 16px;
  padding: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 250ms;
  width: 300px;
  text-align: left;
  border: 1px;
  border-style: solid;
  border-color: #EFEFEF;
}


.cui-droplist-space{
  width: 20%;
  height: 0; /* 设置高为0，让padding撑起高 */
  padding-bottom: 20%; /* 让div的高等于宽 */
  border-radius: 50%;
}

@media only screen and (max-width: 846px){
  .cui-dropmenu{  
    width: 100% !important;
    text-align: center;
  }
}

.cui-dropmenu-content {
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  position: absolute;
  background-color: #ffffff;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  background-color: rgba(255, 255, 255, 0.92);
  border-radius: 16px;
  min-width: 300px;
  overflow: auto;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.07);
  z-index: 1;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.6, 0.02, 0, 1.01);
  margin-top: -8px;
  overflow: hidden;
  transform: scale(1, 0.8);
  overflow: hidden;
  transform: scale(1, 0.8);
}

@media only screen and (max-width: 846px){
  .cui-dropmenu-content{  
    position: unset;
    margin-bottom: 10px;
    transition-duration: 0.6s !important;
  }
}

.cui-icons{
  font-family: 'OUR-icons' !important;
  margin-right: 10px;
}

.listshow {
  visibility: visible;
  opacity: 1;
  max-height: 600px;
  transform: none;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.6, 0.02, 0, 1.01);
}
@media only screen and (max-width: 846px){
  .listshow{  
    transition-timing-function: cubic-bezier(0.56, 0.01, 0.47, 1);
  }
}
.cui-dropmenu:hover {
  transition-duration: 0.4s;
  box-shadow: 0 8px 43px 0 rgba(0, 0, 0, 0.13);
  transform: scale(1.01, 1.01);
}

.cui-dropmenu:active {
  transform: none;
  transform: scale(0.98, 0.98);
}

.cui-pop-up-prompt {
  background-color: #FFD83A;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: block;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.6, 0.02, 0, 1.01);
  max-height: 100px;
}

.cui-parendisplay {
  float: right;
  cursor: pointer;
  font-family: 'OUR-icons' !important;
  font-size: 20px;
}

#cuisnackbar {
  visibility: hidden;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.07);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  background-color: rgba(255, 255, 255, 0.555);
  color: black;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  font-size: 17px;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.6, 0.02, 0, 1.01);
  opacity: 0;
  max-height: 0px;
  transform: scale(1, 0.8);
  border-radius: 16px;
  min-width: 300px;
}
#cuisnackbaryellow {
  visibility: hidden;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.07);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  background-color: #FFF1BA;
  color: black;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  font-size: 17px;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.6, 0.02, 0, 1.01);
  opacity: 0;
  max-height: 0px;
  transform: scale(1, 0.8);
  border-radius: 16px;
  min-width: 300px;
}
#cuisnackbarred {
  visibility: hidden;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.07);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  background-color: #FFC3C3;
  color: black;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  font-size: 17px;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.6, 0.02, 0, 1.01);
  opacity: 0;
  max-height: 0px;
  transform: scale(1, 0.8);
  border-radius: 16px;
  min-width: 300px;
}
#cuisnackbarred.show {
  visibility: visible;
  opacity: 1;
  max-height: 600px;
  transform: none;
}
#cuisnackbaryellow.show {
  visibility: visible;
  opacity: 1;
  max-height: 600px;
  transform: none;
}
#cuisnackbar.show {
  visibility: visible;
  opacity: 1;
  max-height: 600px;
  transform: none;
}

@media only screen and (max-width: 846px) {
  #cuisnackbar {
    right: 20px;
    left: 20px;
  }
}
.cui-input {
  padding: 14px;
  background-color: white;
  border-radius: 8px;
  border: 1px;
  border-style: solid;
  border-color: #EFEFEF;
  outline: none;
  transition-duration: 0.2s;
  margin-top: 10px;
}


@media only screen and (max-width: 846px) {
  .cui-input {
    width: 100%;
    box-sizing: border-box;
  }
}

.cui-input-color {
  padding: 8px;
  background-color: white;
  border-radius: 8px;
  border: 1px;
  border-style: solid;
  border-color: #EFEFEF;
  min-width: 50px;
  outline: none;
  transition-duration: 0.2s;
  min-height: 50px;
  cursor: pointer;
  margin-top: 20px;
}

.cui-input:focus {
  border-color: #5395FD;
  border-width: 3px;
}

.cui-input-color:focus{
  border-color: #5395FD;
  border-width: 3px;
}

.cui-label-input {
  font-weight: bolder;
  font-size: 20px;
  margin-right: 20px;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  font-weight: unset;
  color: #EFEFEF;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-weight: unset;
  color: #EFEFEF;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-weight: unset;
  color: #EFEFEF;
}

::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-weight: unset;
  color: #EFEFEF;
}

.cui-checkbox {
  position: relative;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cui-checkbox input[type='checkbox'] {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  opacity: 0;
}
.cui-checkbox label {
  position: absolute;
  left: 30px;
  top: 0;
  height: 20px;
  line-height: 20px;
  cursor: pointer;

}
.cui-checkbox label:before {
  content: ' ';
  position: absolute;
  left: -30px;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid #EFEFEF;
  border-radius: 8px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.cui-checkbox label:after {
  content: '';
  position: absolute;
  left: -23.5px;
  top: 2.2px;
  width: 6px;
  height: 12px;
  border: 0;
  color: #ffffff;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  font-family: 'OUR-icons' !important;
  font-size: 12px;
  font-weight: 600;
}
.cui-checkbox input[type='checkbox']:checked + label:before {
  background: #5395FD;
  border-color: #5395FD;
  color: #ffffff;
}
.cui-input-range{
  -webkit-appearance: none;
  overflow:hidden;     
  width:250px;
  height:16px;
  outline : none;      
  background:#5395FD;
  padding: 8px;
  border-radius: 100px;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.07);
}

.cui-input-range::-webkit-slider-thumb{
  -webkit-appearance: none;
  position: relative;    
  width:18px;
  height:18px;
  background:white;
  border-radius:50%; 
  padding: 1px;
}
.cui-input-radio{
  display: inline-block;
  border:2px solid #EFEFEF;
  width:16px;
  height: 16px;
  border-radius:50%;
  vertical-align: middle;
  margin-right: 5px;
  position: relative;
}
.cui-input-radio:before{
  content: '';
  font-size: 0;
  width: 10px;
  height: 10px;
  background: #5395FD;
  position: absolute;
  left:50%;
  top:50%;
  margin-left: -5px;
  margin-top: -5px;
  border-radius: 50%;
  display: none;
}
.cui-input-radio-self:checked~.cui-input-radio:before{
  display: block;
}

.cui-input-radio-self{
  display: none;
}
.vertical{
  flex-direction: column;
  display: inline-flex;
}
.cui-radio-group{
  margin-top: 10px;
}
.cui-original-input {
    height: 0px;
    width: 0px;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

.cui-switch-wrap label {
    display: inline-block;
    width: 52px;
    height: 24px;
    outline: none;
    border-radius: 16px;
    box-sizing: border-box;
    background: #B2B2B2;
    cursor: pointer;
    transition: border-color .3s, background-color .3s;
    vertical-align: middle;
    position: relative;
    padding: 6px;
}

.cui-switch-wrap label::before {
    content: '';
    position: absolute;
    transition: transform 0.3s;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
}

.cui-switch-wrap input:checked+label {
    background: #5395FD;
}

.cui-switch-wrap input:checked+label:before {
    transform: translateX(26px);
}

.cui-input-range::-webkit-slider-thumb:before,
.cui-input-range::-webkit-slider-thumb:after
{
  position: absolute;
  top: 3px;
  width: 2000px;
  height: 4px;
  pointer-events: none;
  padding: 1px;
}
.cui-loading {
  border: 2px solid #EFEFEF;
  border-radius: 50%;
  border-top: 2px solid #5395FD;
  width: 40px;
  height: 40px;
  -webkit-animation: loading 2s cubic-bezier(0.56, -0.02, 0.25, 1.01) infinite;
  animation: loading 2s cubic-bezier(0.56, -0.02, 0.25, 1.01) infinite;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cui-stopwatch {
  background-color: #EFEFEF;
  min-width: 140px;
  height: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.cui-stopwatch-advance {
  background-color: #5395FD;
  min-width: 140px;
  height: 4px;
  border-radius: 10px;
  -webkit-animation: stopwatch 60s cubic-bezier(0.56, -0.02, 0.25, 1.01);
          animation: stopwatch 60s cubic-bezier(0.56, -0.02, 0.25, 1.01);
}

@-webkit-keyframes stopwatch {
  0% {
    max-width: 0px;
    min-width: 0px;
  }
  100% {
    max-width: 9999px;
    min-width: none;
  }
}

@keyframes stopwatch {
  0% {
    max-width: 0px;
    min-width: 0px;
  }
  100% {
    max-width: 9999px;
    min-width: none;
  }
}

.cui-our-font{
  font-family: 'OUR-FONT-ICON' !important;
  font-size: 16px;
  margin-right: 10px;
  line-height: 14px;
  user-select: none;
}

.cui-info-card {
  border-radius: 30px;
  background-color: #fff;
  padding: 25px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.07);
  transition: 300ms;
}

.cui-auto-img-card{
  display: block;
  width: 100%;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.cui-card-group{
  display: flex;
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  .cui-card-group{
    flex-direction: column
  }
}


.cui-sidebar{
  width: 24vh;
  background-color: white;
  position: unset;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: none;
  flex: none;
  position: fixed;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.07);
  margin-left: -28vh;
  margin-top: -28px;
  padding: 20px;
}

.cui-a-active{
  background-color: #5395FD;
  color: white;
}

.cui-a-active:hover {
  background-color: #5394fd2a;
  color: black;
}

.for-slider{
  border-radius: 8px;
  margin: 0px;
  margin-bottom: 10px;
  line-height: 14px;
}

.cui-sidebar-tips{
  bottom: 0;
  margin-bottom: 10px;
  font-size: 10px;
  color: #B2B2B2;
}

.for-checkbox-allround{
  border-radius: 50%;
}